<!DOCTYPE html>

<html>
	<head>
		<title>{{ window_title }}</title>
	</head>
	
   <body>
        <h1>{{ page_title }}</h1>
	
	<p> 
	Navigation: <a href='{{ links[0][0] }}'>{{ links[0][1] }}</a> 
	{% if links[1] %}
	{% for link in links[1:] %}
	 ---  <a href='{{ link[0] }}'>{{ link[1] }}</a> 
	{% endfor %} 
	{% endif %}
	</p>

	<p> 
	{% if db_present %}
	A database is present.  
	{{ content  }}
	<br />{% block query %}{% endblock query %}
	<ul>
	{% for collection in html_collections %}
	<li>{{ collection }}</li>
	{% endfor %}
	</ul>
	
	{% else %}
	No database present.
	{% endif %} 
	</p>
	
	<p>{% block data_content %}{% endblock data_content %}</p>
	            
    </body>
</html>
