{% extends "base.html" %}

{% set window_title = 'BibTex Viewer | Query Your Collections' %}
{% set page_title = 'Run a Query' %}
{% set content = 'You can query it with the form below.' %}

{% block query %}

	Use SQL query syntax to enter the query string that follows the "WHERE." <br />
	Column names are "ref_tag," "author_list," "journal," "volume" (integer), "pages," "year" (integer), "title," and "collection." <br />
	To use wildcards, use "LIKE" and employ the "%" (percent symbol) as multiple character wildard and "_" (underscore) as single character wildcard. <br />
	Make sure to explicitly put strings in quotes.

	<form action="query" enctype="multipart/form-data" method="POST">
	Query string:  <input type="text" name="query_str" value="{{ query_preset }}" size=100/>
	<input type="submit" value="Query!">
	</form>

	<p>
	{% if results %}
		Results from query "{{ query_str }}":
		<ul>
		{% for entry in results %}
			<li>
			Reference Tag: {{ entry[0] }} <br />
			Author List: {{ entry[1] }} <br />
			Journal: {{ entry[2] }} <br />
			Volume: {{ entry[3] }} <br />
			Pages: {{ entry[4] }} <br />
			Year: {{ entry[5] }} <br />
			Title: {{ entry[6] }} <br />
			Collection: {{ entry[7] }} <br />
			</li>
			<br />
		{% endfor %}
	{% else %}
		No query results to display.
	{% endif %}
	</ul>
	</p>

{% endblock query %}